* {
    background: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --color-primary-1: #AAE2FA;
    --color-primary-0: #67889B;
    --color-primary: #465C69;
    --color-secondary-1: #FFFFFF;
    --color-secondary-0: #FFFFFF;
    --color-secondary: #E6E6E6;
    --color-tertiary-1: #1A1A1A;
    --color-tertiary-0: #000000;
    --color-tertiary: #000000;

    --font-family-normal: Arial, Helvetica, sans-serif;
    --font-family-title: 'Times New Roman', Times, serif;
}

.title {
    font-size: 3em;
    font-family: var(--font-family-title);
    font-weight: 700;
}

.background-color {
    background-color: var(--color-primary);
}

/* HEADER */

header section.banner .texto,
header section.banner p,
header section.banner .buttons,
header section.banner .buttons .bannerButton {
    background-color: transparent;
}

header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 90%;
    justify-content: center;
}

/* ----- HEADER:NAV ----- */

header nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 3%;

    border-bottom: 2px solid;

    border-image: linear-gradient(to right, rgba(170, 226, 250, 0.3), rgba(255, 255, 255, 0.3)) 1;
}

header nav .main_nav {
    display: flex;
    justify-content: space-between;

    width: 60%;

    list-style: none;
}

header nav .main_nav li {
    display: inline;
    color: #ffffff;
}

header nav .main_nav li a {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--color-secondary-0);
    font-weight: 700;
    font-size: 1.3em;
}

header nav .main_nav li a:hover {
    color: var(--color-primary-1)
}

/* ----- HEADER:BANNER ----- */

header .banner {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 0 10%;
    display: flex;
    align-items: center;


    background-image: url('../img/relogio-banner.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 70%;
}

header .banner .title {
    margin-bottom: 3%;
    color: var(--color-primary-1)
}

header .banner .description {
    width: 75%;
    text-align: justify;

    line-height: 150%;
    color: var(--color-secondary-0)
}

header .banner .buttons {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .banner .buttons a {
    width: 20%;
}

header .banner .buttons button {
    padding: 5% 5%;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    border: none;
}

header .banner .buttons .bannerButton {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

header .banner .buttons .bannerButton button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}

header .banner .buttons .bannerButton button img {
    background-color: transparent;
    margin: 0 auto;
}


header .banner .buttons button:hover {
    background-color: var(--color-primary-1);
}

/* ----- HEADER:BANNERIMAGE ----- */

header .bannerImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    align-items: center;
    justify-content: end;

    background-image: url('../img/background-banner.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 110%;
}


header .bannerImage p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: transparent;
}

header .bannerImage p.first {
    margin: 0 3%;
    font-weight: 700;
    font-size: 2em;
}

header .bannerImage p.last {
    margin-right: 10%;
    font-weight: 700;
    font-size: 2em;
}

header .bannerImage img {
    background-color: transparent;
    width: auto;
}

/* ----- MAIN ----- */
main {
    margin-top: 10%;
}

main #vitrine {
    padding: 0 5%;
}

main #vitrine .title {
    color: var(--color-primary-0);
    font-size: 2em;
}

/* ----- MAIN: VITRINE ----- */
main #vitrine .owl-carousel .item {
    padding: 30%;
    padding-left: 0;
    text-align: center;

}

main #vitrine .owl-carousel .item img {
    border-radius: 20px;
}

main #vitrine .owl-carousel .item a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-carousel .item a:hover {
    color: var(--color-primary-0);
}

main #vitrine .productName {
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-nav {
    display: none;
}

main #vitrine a.linkAll {
    color: white;
}

main #vitrine a.linkAll button.buttonAll{
    background: var(--color-primary-0);
    color: white;
    border: none;
    padding: 1.5% 3%;     
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4); /* Adiciona a sombra */
}

main #vitrine a.linkAll button.buttonAll:hover{
    background: var(--color-primary);    
}

/* ----- MAIN:TEMPO ----- */
main section#tempo {
    margin-top: 4%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 5% 5%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

main section#tempo p{
    margin-bottom: 7%;

    font-size: 2em;    
    font-weight: 700;    
    color: var(--color-primary-1);
    
}

main section#tempo p, main section#tempo img{
    background-color: transparent;
    text-align: center;
    width: 100%;
}

