* {
    background: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --color-primary-1: #E5A254;
    --color-primary-0: #EBC673;
    --color-primary: #9A5629;
    --color-secondary-1: #193429;
    --color-secondary-0: #234437;
    --color-secondary: #0B2218;
    --color-tertiary-1: #E9C8A2;
    --color-tertiary-0: #C0B09F;
    --color-tertiary: #CCC0B6;

    --font-family-normal: Arial, Helvetica, sans-serif;
    --font-family-title: 'Times New Roman', Times, serif;
}

.title {
    font-size: 3em;
    font-family: var(--font-family-title);
    font-weight: 700;
}

.background-color {
    background-color: var(--color-primary-0);
}

/* HEADER */

nav,
header div,
header a,
header ul,
header li,
header section,
header p,
header img {
    background-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* ----- HEADER:NAV ----- */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 3%;

    border-bottom: 2px solid;

    border-image: linear-gradient(to right, rgba(170, 226, 250, 0.3), rgba(154, 86, 41, 1), rgba(154, 86, 41, 0.2)) 0.4;
    background-color: var(--color-primary);
}

header nav div.logoHeader a img {
    width: 15%;
}

header nav div.logoHeader button {
    display: none;
}

header nav .main_nav {
    display: flex;
    justify-content: space-between;

    width: 60%;

    list-style: none;
}

header nav .main_nav li {
    display: inline;
}

header nav .main_nav li a {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 1.2em;
}

header nav .main_nav li a:hover {
    color: var(--color-primary-1);
}

/* ----- HEADER:BANNER ----- */

header #banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 2%;
}

header #banner #bannerImg {
    width: 200px;
    height: 300px;
}

header #banner #text {
    width: 50%;
}

header #banner #text p#bannerBrand {
    margin: 4% 0;
    font-weight: 700;
    font-size: 2em;
    color: var(--color-primary)
}

header #banner #text p#bannerText {
    margin: 4% 0;

    width: 75%;
    text-align: justify;

    line-height: 150%;
    color: var(--color-secondary);

    height: 100px;
}

header #banner #text div.right {
    display: flex;
    align-items: end;
    flex-direction: column;
}

header #banner #text div.right div.buttons {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header #banner #text div.right div.buttons a {
    width: 20%;
}

header #banner #text div.right div.buttons button {
    padding: 5% 5%;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    border: none;
}

header #banner #text div.right div.buttons button:hover {
    background-color: var(--color-primary);
    color: white;
}

header #banner #text div.right .bannerButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-top: 10px;
}

header #banner #text div.right .bannerButton button {
    border: none;
    padding: 3% 3%;
    background-color: transparent;
}

header #banner #text div.right .bannerButton button:hover {
    background-color: var(--color-primary-1);
}


/* ----- MAIN ----- */

main {
    margin-top: 10%;
}

main #vitrine {
    padding: 0 5%;
}

main #vitrine .title {
    color: var(--color-primary);
    font-size: 2em;
}

/* ----- MAIN: VITRINE ----- */
main #vitrine .owl-carousel .item {
    padding: 30%;
    padding-bottom: 10%;
    padding-left: 0;
    text-align: center;

}

main #vitrine .owl-carousel .item img {
    border-radius: 20px;
}

main #vitrine .owl-carousel .item a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-carousel .item a:hover {
    color: var(--color-primary-0);
}

main #vitrine .productName {
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-nav {
    display: none;
}

main #vitrine a.linkAll button.buttonAll {
    background: var(--color-primary-0);
    color: var(--color-secondary);
    font-weight: 700;
    border: none;
    padding: 1.5% 3%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}

main #vitrine a.linkAll button.buttonAll:hover {
    background: var(--color-primary);
    color: var(--color-primary-0);
}

/* ----- MAIN:TEMPO ----- */
main section#tempo {
    margin-top: 4%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 5%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

main section#tempo p {
    margin-bottom: 7%;

    font-size: 2em;
    font-weight: 700;
    color: var(--color-primary-1);

}

main section#tempo p,
main section#tempo img {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

/* ----- MAIN:CONTATO -----*/

main section#contato {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 3% 0;
    background-color: var(--color-primary);
    padding: 2% 5%;
}

main section#contato #card {

    display: grid;
    grid-template-columns: 50% 50%;

    width: 70%;
    padding: 3% 7%;
}

main section#contato .left {
    display: flex;
    flex-direction: column;
    padding: 0;
}

main section#contato .left .title {
    color: var(--color-primary-0);
    margin-bottom: 5%;
    text-align: center;
}

main section#contato .left form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 90%;
}

main section#contato .left form input {
    width: 100%;
    padding: 2% 0;
    margin-top: 3%;
    border: none;
    border-bottom: 2px solid var(--color-primary);
}

main section#contato .left form textarea#mensagem {
    width: 100%;
    height: 100px;
    padding: 2% 2%;
    margin: 3% 0;
    vertical-align: top;
    word-wrap: break-word;
    border: none;
    border-bottom: 2px solid var(--color-primary);
}

main section#contato .left form input:focus,
main section#contato .left form textarea#mensagem:focus {
    border-bottom: 2px solid var(--color-primary-1);
    outline: none;
    /* Remove a borda de foco padrão do navegador */
}