* {
    background: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;

    font-size: 16px;
}

:root {
    --color-primary-1: #E5A254;
    --color-primary-0: #EBC673;
    --color-primary: #9A5629;
    --color-secondary-1: #193429;
    --color-secondary-0: #234437;
    --color-secondary: #0B2218;
    --color-tertiary-1: #E9C8A2;
    --color-tertiary-0: #C0B09F;
    --color-tertiary: #CCC0B6;
    --color-contrast: #183429;

    --font-family-normal: Arial, Helvetica, sans-serif;
    --font-family-title: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-size: 1.5em;
    font-family: var(--font-family-title);
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}

.background-color {
    /*background-color: var(--color-primary-0);*/
    background-color: var(--color-secondary-0);
}

/* ******************************** INDEX */
/* HEADER */

nav,
header div,
header a,
header ul,
header li,
header,
header p,
header img {
    background-color: transparent;
}

header {
    display: grid;
    grid-template-rows: 15% 80% 5%;
    justify-content: top;
    flex-direction: column;
    height: 100vh;
}

header {
    background-image: url(../img/banner/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
}

header.transition-effect {
    opacity: 1;
}

header.transition-effect.fade-out {
    opacity: 0;
}

/* ----- HEADER:NAV ----- */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 3%;

    border-bottom: 2px solid;

    border-image: linear-gradient(to right, rgba(170, 226, 250, 0.3), rgba(154, 86, 41, 1), rgba(154, 86, 41, 0.2)) 0.4;
    background-color: transparent;
}

header nav .logoHeader a img {
    width: 15%;
}

header nav .logoHeader button {
    display: none;

}

header nav .main_nav {
    display: flex;
    align-items: end;
    justify-content: space-evenly;

    list-style: none;

    width: 25%;
}

header nav .main_nav li {
    display: inline;
}

header nav .main_nav li a {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--color-primary-0);
    font-weight: 700;
}

header nav .main_nav li a:hover {
    color: var(--color-primary-1);
}

/* ----- HEADER:BANNER ----- */

header #banner div {
    background-color: transparent;
}

header #banner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    background-color: transparent;
}


header #banner #text {
    grid-column: 2 / 3;
    margin: 0 auto;
}

header #banner #text p#bannerTitle {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--color-primary-0);
}

header #banner #text p#bannerText {
    margin: 4% 0;

    width: 75%;
    text-align: justify;

    line-height: 150%;
    color: var(--color-primary-1);

    font-size: 0.8em;
    transition: opacity 0.5s ease;
}

.oculto {
    opacity: 0;
}

header #banner #text div.bannerButton {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
}

header #banner #text div.bannerButton a {
    align-self: flex-start;
    text-align: center;
}

header #banner #text div.bannerButton a button {
    padding: 10% 80%;
    border: none;
    font-weight: 700;
    background-color: var(--color-primary-0);
    color: var(--color-contrast);
    transition: background-color 0.2s ease;
}

header #banner #text div.bannerButton button:hover {
    background-color: var(--color-primary);
    color: white;
}

/* ----- HEADER:BANNER-BUTTON ----- */

header #navegateButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    width: 100%;
}

header #navegateButtons button {
    border: none;
    padding: 0% 3%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header #navegateButtons button:hover {
    background-color: var(--color-primary-1);
}


/* ***** MAIN ***** */

main {
    margin-top: 5%;
}

/* ----- MAIN: VITRINE ----- */
main #vitrine {
    padding: 0 5%;
}

main #vitrine .owl-carousel {
    margin-top: 5%;
    align-items: baseline;
}

main #vitrine .owl-carousel .item {
    text-align: center;
}

main #vitrine .owl-carousel .item img {
    width: 100%;
}

main #vitrine .productName {
    margin-top: 12%;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
}

/* ----- MAIN:ALLHERE ----- */

main #allHere {
    margin-top: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main #allHere .left {
    width: 40%;
}

main #allHere .left p.title {
    text-align: start;
}

main #allHere .left p.text {
    margin-top: 5%;

    width: 75%;
    text-align: justify;

    line-height: 150%;
    color: var(--color-secondary);

    font-size: 0.8em;
}

main #allHere .left a {
    color: var(--color-primary-1);
    font-weight: 700;
}

main #allHere .left a:hover {
    color: var(--color-primary-0);
}

main #allHere .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
}

main #allHere .right img {
    width: 48%;
}

/* ----- MAIN:TEMPO ----- */

main #tempo p,
main #tempo img {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

main #tempo {
    margin-top: 7%;
    padding: 5% 3%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--color-secondary-0);
}

main #tempo p.title {
    text-align: start;
    margin-bottom: 3%;

    font-weight: 700;
    color: var(--color-primary-0);
}

/* ----- MAIN:PALAZZOWATHCES -----*/

main #palazzoWatches {
    margin-top: 7%;
    padding: 0 5%;

    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

main #palazzoWatches .right,
main #palazzoWatches .left {
    width: 100%;
}

main #palazzoWatches .right p.title {
    padding-bottom: 4%;
}

main #palazzoWatches .right p.text {
    padding: 3% 0;

    text-align: justify;

    line-height: 150%;
    color: var(--color-secondary);

    font-size: 0.8em;
}

main #palazzoWatches .left img {
    width: 90%;
}


/* ----- MAIN:CONTATO -----*/

main #contato p,
main #contato span,
main #contato small,
main #contato .fastContact,
main #contato .fastContact a,
main #contato .fastContact a img {
    background-color: transparent;
}

main #contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 7%;
    margin-bottom: 2%;

    padding: 2% 5%;

    text-align: center;
    background-color: var(--color-primary-0)
}

main #contato p.text,
main #contato span {
    font-size: 0.8em;
}

main #contato p.title {
    margin-bottom: 1%;
}

main #contato {
    color: var(--color-contrast);
}

main #contato .fastContact {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2%;
}

main #contato .fastContact a img {
    width: 40%;
}

/* ***** FOOTER ***** */
footer section,
footer div,
footer ul,
footer li,
footer a,
footer img,
footer p {
    background-color: transparent;
    color: var(--color-tertiary-1);
}

footer {
    background-color: var(--color-contrast);

    display: flex;
    align-items: top;
    justify-content: space-around;

    padding: 2%;
}

footer .title {
    margin-bottom: 10%;
    color: var(--color-primary-0);
}

footer #footerLogo {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 10%;
}

footer #footerLogo img {
    width: 60%;
}

footer #footerMenu li {
    font-size: 70%;
    padding: 10% 0;
}

footer #footerMenu a:hover {
    color: var(--color-primary-1);
}

footer #footerSocial #img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer #footerSocial #img a {
    text-align: center;
}

footer #footerSocial #img img {
    width: 50%;
}



/* ******************************** CATÁLOGO */

/* ***** HEADER ****** */
#catalogo header {
    background-color: var(--color-secondary-0);
    background-image: none;
    display: flex;
    height: 100%;
}


/* ***** MAIN ****** */
#catalogo main {
    margin-top: 0;
}

/* ***** MAIN:FILTER ****** */

#filter #filtro-content .div,
#filter #filtro-content p,
#filter #filtro-content label,
#filter #filtro-content {
    background-color: transparent;
}

#filter .filterButton {
    position: fixed;
    top: 20%;
    left: 96%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    padding: 1% 2%;

    border: none;
    background-color: var(--color-secondary-0);

    font-size: 0.8em;
    color: var(--color-primary-0);
}

#filter .filterButton:hover {
    background-color: var(--color-secondary-1);
}

#filtro {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    transition: width 0.3s;
    overflow: hidden;
}

#filtro.closed {
    width: 0;
}

#filtro.open {
    width: 300px;
    /* Ajuste a largura desejada para o menu de filtro */
}

#filter #filtro-content {    
    padding: 5%;    
}

#filter #filtro-content .title {
    margin-bottom: 5%;
    color: var(--color-primary-0);
}

#filter #filtro-content label {
    margin-top: 30px;
    display: flex;
    color: white;
}

.item {
    display: block;
}

/* ***** MAIN:ITENS ****** */
#itens {
    padding: 2% 5%;
    padding-top: 0%;
}

#itens .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    margin-top: 5%;
}

#itens .title {
    align-self: flex-start;
    margin: 2% 4%;
}

#itens .container .watches {
    text-align: center;
}

#itens .container .watches p {
    margin-top: 10%;
}

.image-zoom-container {
    position: relative;
    overflow: hidden;
}

.image-zoom-container {
    transition: transform 0.3s;
}

.image-zoom-container.zoomed {
    transform: scale(3.5);
    /* Ajuste o valor para aumentar ou diminuir o zoom */
}


/* ***** RESPONSIVE ***** */

@media (max-width: 800px) {
    * {
        font-size: 20px;
    }

    main {
        padding: 0%;
    }

    h1 {
        font-size: 3em;
    }

    form label {
        font-size: 0.8em;
    }

    header {
        grid-template-rows: 15% 75% 10%;
    }


    /* ----- HEADER:NAV ----- */

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 3%;
    }

    header nav .logoHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header nav .logoHeader button {
        display: block;
        width: 20%;

        font-size: 200%;
        background-color: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
    }

    header nav .logoHeader button i {
        background-color: transparent;
        color: var(--color-primary-0);
        font-size: 100%;
    }

    header nav .main_nav {
        display: none;
    }

    header nav ul {
        padding-left: 10%;
    }

    header nav li {
        width: 100vw;
        font-size: 1em;
        text-align: justify;
        margin-top: 5%;
    }

    header nav li a {
        color: var(--color-primary-0);
        font-weight: 700;
    }


    /* ----- HEADER:BANNER ----- */

    header {
        background-image: url(../img/banner/banner1-celular.webp);        
    }

    header #banner {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;        

        padding: 0% 6%;
    }

    header #banner #text {
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }

    header #banner #text p {
        width: 100%;
        text-align: start;        
    }

    header #banner #text p#bannerText, header #banner #text p#bannerTitle {
        font-weight: 700;
        color: white;        
    }

    header #navegateButtons {
        margin-top: 10%;
    }

    /* ----- MAIN: VITRINE ----- */



    /* ----- MAIN:ALLHERE ----- */

    main #allHere {
        align-items: center;
        flex-direction: column-reverse;
    }

    main #allHere .left {
        margin-top: 5%;
        padding: 0 5%;
        width: 90%;
    }

    main #allHere .left p.text {
        margin: 8% 0;

        width: 100%;
        text-align: justify;

        line-height: 150%;
        color: var(--color-secondary);

        font-size: 100%;
    }


    main #allHere .right {
        width: 100%;
        text-align: center;
    }

    main #allHere .right img {
        width: 50%;
    }


    /* ----- MAIN:TEMPO ----- */

    main #tempo {
        margin: 20% 0;
    }

    main #tempo p {
        font-size: 1.5em;
    }

    /* ----- MAIN:PALAZZOWATHCES -----*/

    main #palazzoWatches {
        margin-top: 7%;
        padding: 0 5%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    main #palazzoWatches .right,
    main #palazzoWatches .left {
        width: 100%;
    }

    main #palazzoWatches .right p.title {
        padding: 4%;
    }

    main #palazzoWatches .right p.text {
        padding: 3% 0;

        text-align: justify;

        line-height: 150%;
        color: var(--color-secondary);

        font-size: 0.8em;
    }

    main #palazzoWatches .left {
        text-align: center;
    }

    main #palazzoWatches .left img {
        width: 90%;
    }


    /* ----- MAIN:CONTATO -----*/

    main #contato {
        border: 1px solid var(--color-primary);
    }

    main #contato p {
        font-size: 0.8em;
    }

    main #contato p.title {
        margin: 5%;
    }

    main #contato .fastContact {
        margin: 5%;
    }

    main #contato small {
        font-size: 0.7em;
    }

    /* ***** FOOTER ***** */


    footer {
        background-color: var(--color-contrast);

        display: flex;
        align-items: top;
        justify-content: center;

        padding: 2%;
    }

    footer .title {
        font-size: 1em;
        margin-bottom: 10%;
    }

    footer #footerLogo,
    footer #footerMenu {
        display: none;
    }

    footer #footerPayment img,
    footer #footerDelivery img {
        width: 70%;
    }

    footer #footerSocial #img img {
        width: 30%;
    }
}