* {
    background: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --color-primary-1: #E5A254;
    --color-primary-0: #EBC673;
    --color-primary: #9A5629;
    --color-secondary-1: #193429;
    --color-secondary-0: #234437;
    --color-secondary: #0B2218;
    --color-tertiary-1: #E9C8A2;
    --color-tertiary-0: #C0B09F;
    --color-tertiary: #CCC0B6;
    --color-contrast: #183429;

    --font-family-normal: Arial, Helvetica, sans-serif;
    --font-family-title: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-size: 3em;
    font-family: var(--font-family-title);
    font-weight: 700;
}

.background-color {
    background-color: var(--color-primary-0);
}

/* HEADER */

nav,
header div,
header a,
header ul,
header li,
header section,
header p,
header img {
    background-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* ----- HEADER:NAV ----- */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 3%;

    border-bottom: 2px solid;

    border-image: linear-gradient(to right, rgba(170, 226, 250, 0.3), rgba(154, 86, 41, 1), rgba(154, 86, 41, 0.2)) 0.4;
    background-color: var(--color-primary);
}

header nav .logoHeader a img {
    width: 15%;
}

header nav .logoHeader button {
    display: none;

}

header nav .main_nav {
    display: flex;
    justify-content: space-between;

    width: 60%;

    list-style: none;
}

header nav .main_nav li {
    display: inline;
}

header nav .main_nav li a {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 1.2em;
}

header nav .main_nav li a:hover {
    color: var(--color-primary-1);
}

/* ----- HEADER:BANNER ----- */

header #banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 2%;
}

header #banner #bannerImg {
    width: 200px;
    height: 300px;
}

header #banner #text {
    width: 50%;
}

header #banner #text p#bannerBrand {
    margin: 4% 0;
    font-weight: 700;
    font-size: 2em;
    color: var(--color-primary)
}

header #banner #text p#bannerText {
    margin: 4% 0;

    width: 75%;
    text-align: justify;

    line-height: 150%;
    color: var(--color-secondary);

    height: 100px;
}

header #banner #text div.right {
    display: flex;
    align-items: end;
    flex-direction: column;
}

header #banner #text div.right div.buttons {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header #banner #text div.right div.buttons a {
    width: 20%;
}

header #banner #text div.right div.buttons button {
    padding: 5% 5%;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    border: none;
}

header #banner #text div.right div.buttons button:hover {
    background-color: var(--color-primary);
    color: white;
}

header #banner #text div.right .bannerButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-top: 10px;
}

header #banner #text div.right .bannerButton button {
    border: none;
    padding: 3% 3%;
    background-color: transparent;
}

header #banner #text div.right .bannerButton button:hover {
    background-color: var(--color-primary-1);
}


/* ***** MAIN ***** */

main {
    margin-top: 10%;
}

main #vitrine {
    padding: 0 5%;
}

main #vitrine .title {
    color: var(--color-primary);
    font-size: 2em;
}

/* ----- MAIN: VITRINE ----- */

main #vitrine .owl-carousel .item {
    padding: 30%;
    padding-bottom: 10%;
    padding-left: 0;
    text-align: center;

}

main #vitrine .owl-carousel .item img {
    border-radius: 20px;
}

main #vitrine .owl-carousel .item a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-carousel .item a:hover {
    color: var(--color-primary-0);
}

main #vitrine .productName {
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 1.3em;
}

main #vitrine .owl-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    font-size: 200%;
    width: 5%;
    margin: 0 auto;

}

main #vitrine a.linkAll button.buttonAll {
    background: var(--color-primary-0);
    color: var(--color-secondary);
    font-weight: 700;
    border: none;
    padding: 1.5% 3%;
}

main #vitrine a.linkAll button.buttonAll:hover {
    background: var(--color-primary);
    color: var(--color-primary-0);
}

/* ----- MAIN:TEMPO ----- */

main section#tempo {
    margin: 4% 0;
    padding: 3% 3%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

main section#tempo p {
    margin-bottom: 7%;

    font-size: 3em;
    font-weight: 700;
    color: var(--color-primary-1);

}

main section#tempo p,
main section#tempo img {
    background-color: transparent;
    text-align: center;
    width: 100%;
}

/* ----- MAIN:CONTATO -----*/

main section#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 1%;
    margin-bottom: 2%;
    padding: 0 5%;

    text-align: center;
    background-color: var(--color-primary);
}

main section#contato p,
main section#contato span,
main section#contato small,
main section#contato .fastContact,
main section#contato .fastContact a,
main section#contato .fastContact a img {
    background-color: transparent;
}

main section#contato p.title {
    color: var(--color-primary-0);
    margin-top: 5%;
    margin-bottom: 2%;
}

main section#contato {
    color: white;
}

main section#contato .fastContact {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2%;
}

main section#contato .fastContact a img {
    width: 50%;
}

main section#contato span {
    margin-top: 2%;
    margin-bottom: 5%;

    font-weight: 700;
    color: var(--color-primary-0);
}

/* ***** FOOTER ***** */

footer {
    background-color: var(--color-contrast);

    display: flex;
    align-items: top;
    justify-content: space-around;

    padding: 2%;
}

footer section,
footer div,
footer ul,
footer li,
footer a,
footer img,
footer p {
    background-color: transparent;
    color: var(--color-tertiary-1);
}

footer .title {
    font-size: 1.5em;
    margin-bottom: 10%;
    text-align: center;
}

footer section#footerLogo {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 10%;
}

footer section#footerLogo img {
    width: 60%;
}

footer section#footerMenu a:hover {
    color: var(--color-primary-1);
}

footer section#footerSocial #img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer section#footerSocial #img a {
    text-align: center;
}

footer section#footerSocial #img img {
    width: 50%;
}

/* ***** RESPONSIVE ***** */

@media (max-width: 1200px) {

    main {
        padding: 0%;
    }

    h1 {
        font-size: 3em;
    }

    .title {
        font-size: 1.5em;
        text-align: center;
    }

    form label {
        font-size: 0.8em;
    }

    /* ----- HEADER:NAV ----- */

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 3%;
    }

    header nav .logoHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header nav .logoHeader button {
        display: block;
        width: 20%;

        font-size: 200%;
        background-color: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
    }

    header nav .logoHeader button i {
        background-color: transparent;
        color: var(--color-primary-0);
    }

    header nav .main_nav {
        display: none;
    }

    header nav ul {
        padding-left: 10%;
    }

    header nav li {
        width: 100vw;
        font-size: 1em;
        text-align: justify;
        margin-top: 5%;
    }

    header nav li a {
        color: var(--color-primary-0);
        font-weight: 700;
    }


    /* ----- HEADER:BANNER ----- */

    header #banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 10% 6%;
    }

    header #banner #text {
        width: 100%;
        text-align: center;
    }

    header #banner #text p#bannerText {
        width: 100%;
        text-align: justify;
    }

    header #banner #text div.right div.buttons {
        margin: 20% 0 10% 0;
    }

    header #banner #text div.right div.buttons a {
        width: 50%;
    }

    header #banner #text div.right div.buttons button {
        padding: 4% 10%;
    }

    header #banner #text div.right .bannerButton {
        width: 34%;
        margin-bottom: 10%;
    }

    /* ----- MAIN: VITRINE ----- */

    main #vitrine {
        margin-bottom: 10%;
    }

    main #vitrine .productName {
        margin-top: 10%;
        margin-bottom: 4%;
        font-size: 1em;
    }

    main #vitrine a.linkAll button.buttonAll {
        background: var(--color-primary-0);
        color: var(--color-secondary);
        font-weight: 700;
        border: none;
        padding: 1.5% 5%;
    }

    main #vitrine .owl-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        font-size: 200%;
        width: 25%;
        margin: 0 auto;

    }

    /* ----- MAIN:TEMPO ----- */

    main section#tempo {
        margin: 20% 0;
    }

    main section#tempo p {
        font-size: 1.5em;
    }


    /* ----- MAIN:CONTATO -----*/

    main section#contato {
        border: 1px solid var(--color-primary);
    }

    main section#contato p {
        font-size: 0.8em;
    }

    main section#contato p.title {
        font-size: 2em;
        margin: 5%;
    }

    main section#contato .fastContact {
        margin: 5%;
    }

    main section#contato small {
        font-size: 0.7em;
    }

    /* ***** FOOTER ***** */


    footer {
        background-color: var(--color-contrast);

        display: flex;
        align-items: top;
        justify-content: center;

        padding: 2%;
    }

    footer .title {
        font-size: 1em;
        margin-bottom: 10%;
        text-align: center;
    }

    footer section#footerLogo, footer section#footerMenu {
        display: none;
    }    

    footer section#footerPayment img, footer section#footerDelivery img {
        width: 70%;
    }

    footer section#footerSocial #img img {
        width: 30%;
    }
}